body{
 	overflow-x:hidden;
 	font-family:'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif;
 	-webkit-tap-highlight-color:#fed136;
 	
 }
 p{
 	line-height:1.75;
 	color:black;
 }
 b{
 	color: black;
 }
 a{
 	color:#30a5ff;
 }
 a.active,a:active,a:focus,a:hover{
 	color:#fec503
 }
 h1,h2,h3,h4,h5,h6{
 	font-weight:normal;
 	
 }
 section{
 	padding:100px 0
 }
 section h2.section-heading{
    font-size:40px;
    margin-top:0;
    margin-bottom:15px
}
 section h3.section-subheading{
 	font-size:16px;
 	font-weight:400;
 	font-style:italic;
 	margin-bottom:75px;
 	text-transform:none;
 	font-family:'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif
 }
 img::selection{
 	background:0 0
 }
 img::-moz-selection{
 	background:0 0
 }

.title {
    margin-top: 70px;
    text-align: center;
    text-decoration-line: underline
}  

 label>input[type=text], input[type=Password], input[type=email] {
     width: 100%;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -moz-border-radius: 15px;
    border-radius: 15px;

}
button {
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    box-sizing: border-box;
    -moz-border-radius: 15px;
    border-radius: 15px;
 }
.new {
    margin-top: 100px;
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
 .container {

    padding: 16px;
    text-align: center;
    background-attachment: fixed;

}
.btnn {
    background-color: #fec503;
    width: 100px;
}

.btno {
    background-color: grey;
    width: 110px;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn,.signinbtn {
    text-align: center;
    width: 20%;    
}
.buttons::after {
    content: "";
    clear: both;
    display: table;
}

 #mainNav{
 	background-color:#222
 }
 #mainNav .navbar-toggler{
 font-size:12px;
 right:0;
 padding:13px;
 text-transform:uppercase;
 color:#fff;
 border:0;
 background-color:#fed136;
 font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;

}
 #mainNav .navbar-brand{
 	color:#fed136;
 	font-family:'Kaushan Script','Helvetica Neue',Helvetica,Arial,cursive;
 }
 #mainNav .navbar-brand.active,#mainNav .navbar-brand:active,#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{
 	color:#fec503;
 }
 #mainNav .navbar-nav .nav-item .nav-link{
 	font-size:90%;
 	font-weight:400;
 	padding:.75em 0;
 	letter-spacing:1px;
 	color:#fff;
 	font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
 	text-transform:uppercase;
 }
 #mainNav .navbar-nav .nav-item .nav-link.active,#mainNav .navbar-nav .nav-item .nav-link:hover{
 	color:#fed136;
 }
 @media (min-width:992px){#mainNav{
 	padding-top:25px;
 	padding-bottom:25px;
 	-webkit-transition:padding-top .3s,padding-bottom .3s;-moz-transition:padding-top .3s,padding-bottom .3s;
 	transition:padding-top .3s,padding-bottom .3s;border:none;
 	background-color:transparent;
 }
 #mainNav .navbar-brand{
 	font-size:1.75em;
 	-webkit-transition:all .3s;
 	-moz-transition:all .3s;
 	transition:all .3s;
 }
 #mainNav .navbar-nav .nav-item .nav-link{
 	padding:1.1em 1em!important;
 }
 #mainNav.navbar-shrink{
 	padding-top:0;
 	padding-bottom:0;
 	background-color:#222;
 }
 #mainNav.navbar-shrink .navbar-brand{
 	font-size:1.25em;
 	padding:12px 0;
 	}}
 header.masthead{
 	text-align:center;
 	color:#fff;
 	background-image:url(../img/pic.jpg);
 	background-repeat:no-repeat;
 	background-attachment:fixed;
 	background-position:center center;
 	-webkit-background-size:cover;
 	-moz-background-size:cover;
 	-o-background-size:cover;
 	background-size:cover;
 	
 }
 header.masthead .intro-text{
 	padding-top:150px;
 	padding-bottom:100px;
 }
 header.masthead .intro-text .intro-lead-in{
 	font-size:22px;
 	font-style:italic;
 	line-height:22px;
 	margin-bottom:25px;
 	font-family:'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
 }
 header.masthead .intro-text .intro-heading{
 	font-size:50px;
 	font-weight:700;
 	line-height:50px;
 	margin-bottom:25px;
 	font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
 	text-transform:uppercase;
 }
 @media (min-width:768px){
 	header.masthead .intro-text{
 		padding-top:300px;
 		padding-bottom:200px;
 	}
 header.masthead .intro-text .intro-lead-in{
 	font-size:40px;
 	font-style:italic;
 	line-height:40px;
 	margin-bottom:25px;
 	font-family:'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
 }
 	header.masthead .intro-text .intro-heading{
 		font-size:75px;
 		font-weight:700;
 		line-height:75px;
 		margin-top: 50px;
 		margin-bottom:50px;
 		font-family:Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
 		text-transform:uppercase}}
 footer {
    padding: 10px 0;
    width: 100%;
}