<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add shopping list</title>
    <link href="{{ url_for('static', filename ='bootstrap/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom css-->
    <link href = "{{ url_for('static', filename='css/slist.css') }}" rel="stylesheet">
</head>
<body background="{{ url_for('static', filename='img/pic.jpg') }}">
<div class="new" style="text-align: center;" >
     <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{{ url_for('home') }}">SHOPPING LIST</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ url_for('about') }}">About</a>
            </li>
               <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{{ url_for('logout') }}">Logout</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <form action="" method="post">
    <div align="center" style="color: white;">
         {% if data and data['type'] == "error" %}
        {{ data['msg'] }}
        {% endif %}
     </div>
         <p><u style="color: white"><b style="color: white;">ADD LIST</b></u></p>
    <div class="container">

        <h4 style="margin-bottom: 100px;"><a href="{{ url_for('view_shoppinglist') }}">View Shopping Lists</a></h4>


    <label for="name" style="width: 50%;">
        <b style="color: white;">ShoppingList Name:</b><br>
        <input type="text" name="name" placeholder="Enter name of list" pattern="^[a-zA-Z0-9 ]*$"
               title="List name should be alphanumerics only">
    </label><br>
        <b style="color: white;">Description:</b><br>
    <label for="description" >
        <textarea cols="80" name="desc" placeholder="Describe your list....." style="text-align: center;"></textarea>
    </label><br>

    <button type="submit" class="signinbtn">Add list</button>
    </div>

</form>
</div>
</body>
</html>